- hosts: all
  become: true
  become_user: root
  tasks:
  
  - name: Add Docker Group
    group: name=docker state=present

  - name: Install required system packages
    apt:
      pkg:
        - apt-transport-https
        - ca-certificates
        - curl
        - software-properties-common
        - python3-pip
        - virtualenv
        - python3-setuptools
      state: latest
      update_cache: true

  - name: Add Docker GPG apt Key
    apt_key:
      url: https://download.docker.com/linux/ubuntu/gpg
      state: present

  - name: Add Docker Repository
    apt_repository:
      repo: deb https://download.docker.com/linux/ubuntu focal stable
      state: present

  - name: Update apt and install docker-ce
    apt:
      name: docker-ce
      state: latest
      update_cache: true

  - name: Install Docker Module for Python
    pip:
      name: docker

  - name: Add remote "ubuntu" user to "docker" group
    user:
      name: ubuntu
      groups: docker
      append: yes
  
  - name: Install Docker compose
    pip:
      name: docker-compose


      
      
# ansible-playbook -i hosts ./ConfigureMacine.yml --private-key=~/.ssh/Digitize.pem
# non automatedsteps: 
# enter jenkins credential ( git & docker_hub)
# sudo ln -s /usr/local/bin/docker-compose /usr/bin/docker-compose this for docker compose proplem